.container-div {
  display: block;
  background-color: #080808;
  width: 100%;
  height: 160rem;
}

.container-resume {
  display: block;
  background-color: #080808;
  width: 100%;
  height: 135rem;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 6rem;
  align-items: center;
  background-color: #252424;
}

.content-about {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #080808;
}

.about-field {
  margin-top: 4rem;
  margin-left: 8%;
  width: 85.3%;
  height: 1.5rem;
  border-radius: 0.3rem;
  background-color: #1c1c1c;
  justify-content: left;
}

.about-field p {
  color: whitesmoke;
  font-style: 'roboto';
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.continue {
  display: block;
  justify-content: center;
  text-align: left;
}

.continue h1 {
  color: whitesmoke;
  margin-left: 8%;
  font-style: 'Roboto';
  font-weight: 900;
  font-size: 2.5em;
}

.developer {
  margin-left: 8%;
  width: 85.5%;
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
}

.movie {
  margin-left: 8%;
  width: 85.5%;
  height: 35rem;
  border-radius: 1rem;
  object-fit: cover;
}

.continue h2 {
  margin-top: 6rem;
  color: whitesmoke;
  margin-left: 8%;
  font-style: 'Roboto';
  font-weight: 900;
  font-size: 2em;
}

.continue p {
  margin-left: 7rem;
  font-size: 1em;
  font-style: 'Roboto';
  color: gray;
  font-weight: bold;
  width: 80%;
  line-height: 2rem;
}

.bmo {
  color: #08f26e;
}

.texy {
  display: block;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.my-face {
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  object-fit: cover;
}

.move {
  margin-left: 2rem;
}

.move h4 {
  color: whitesmoke;
}

.move span {
  font-size: 1em;
  color: gray;
}

.texts h3 {
  color: whitesmoke;
  font-style: 'roboto';
}

.texts p {
  color: rgb(180, 177, 177);
  font-style: 'Roboto';
  font-size: 0.9em;
}

.project-field {
  margin-top: 4rem;
}

.project-field h4 {
  color: #f5f5f5;
  font-size: 0.9em;
  text-decoration: none;
}

.long-border {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0rem;
  left: 0rem;
  height: 100vh;
  width: 5rem;
  border-right: 1px solid;
  border-color: gray;
}

.linking {
  margin-top: 40vh;
  margin-left: 0.6rem;
}

.space-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.space-text p {
  color: rgb(180, 177, 177);
  font-size: 0.9em;
}

.company {
  width: 70%;
}

.company h3 {
  font-size: 1em;
}

.company p {
  color: gray;
  font-size: 0.9em;
}

.company a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {

  .container-div {
    display: block;
    background-color: #080808;
    width: 100%;
  }

  .container-resume {
    display: block;
    background-color: #080808;
    width: 100%;
    height: 145rem;
  }

  .content {
    padding-top: 2rem;
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .about-field {
    margin-top: 4rem;
    margin-left: 4%;
    width: 90%;
    height: 1.5rem;
    border-radius: 0.3rem;
    background-color: #1c1c1c;
    justify-content: left;
  }

  .about-field p {
    color: whitesmoke;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .continue {
    display: block;
    justify-content: center;
    text-align: left;
  }

  .continue h1 {
    color: whitesmoke;
    margin-left: 6%;
    font-style: 'Roboto';
    font-weight: 900;
    font-size: 2.5em;
  }

  .developer {
    margin-left: 8%;
    width: 85.5%;
    height: 30rem;
    border-radius: 1rem;
    object-fit: cover;
  }

  .movie {
    margin-left: 8%;
    width: 85.5%;
    height: 35rem;
    border-radius: 1rem;
    object-fit: cover;
  }

  .continue h2 {
    margin-top: 6rem;
    color: whitesmoke;
    margin-left: 6%;
    font-style: 'Roboto';
    font-weight: 900;
    font-size: 2em;
  }

  .continue p {
    margin-left: 2rem;
    font-size: 1em;
    font-style: 'Roboto';
    color: gray;
    font-weight: bold;
    width: 80%;
    line-height: 2rem;
  }

  .bmo {
    color: #08f26e;
  }

  .long-border {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0rem;
    left: 0rem;
    height: 100vh;
    width: 5rem;
    border-right: 1px solid;
    border-color: gray;
  }

  .texy {
    display: block;
    width: 88%;
    margin-left: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .project-field {
    margin-top: 2rem;
  }
  
  .linking {
    margin-top: 35vh;
    margin-left: 0.6rem;
  }

}