.container-div {
  display: block;
  background-color: #080808;
  width: 100%;
  height: 100%;
}

.content {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #080808;
}

.about-field {
  margin-top: 4rem;
  margin-left: 8%;
  width: 85.3%;
  height: 1.5rem;
  border-radius: 0.3rem;
  background-color: #1c1c1c;
  justify-content: left;
}

.about-field p{
 color: whitesmoke;
 margin-bottom: 2rem;
 margin-left: 2rem;
}

.continue {
  display: block;
  justify-content: center;
  text-align: left;
}

.continue h1{
  color: whitesmoke;
  margin-left: 8%;
  font-style: 'Roboto';
  font-weight: 900;
  font-size: 2.5em;
}

.developer {
  margin-left: 8%;
  width: 85.5%;
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
}

.movie {
  margin-left: 8%;
  width: 85.5%;
  height: 35rem;
  border-radius: 1rem;
  object-fit: cover;
}

.continue h2{
  margin-top: 6rem;
  color: whitesmoke;
  margin-left: 8%;
  font-style: 'Roboto';
  font-weight: 900;
  font-size: 2em;
}

.continue p{
  margin-left: 7rem;
  font-size: 1em;
  font-style: 'Roboto';
  color: gray;
  font-weight: bold;
 width: 80%;
 line-height: 2rem;
}

.bmo{
  color: #08f26e;
}


@media screen and (max-width: 600px) {

.container-div {
  display: block;
  background-color: #080808;
  width: 100%;
  height: 210rem;
}

.content {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #080808;
}

.about-field {
  margin-top: 4rem;
  margin-left: 4%;
  width: 85.3%;
  height: 1.5rem;
  border-radius: 0.3rem;
  background-color: #1c1c1c;
  justify-content: left;
}

.about-field p{
 color: whitesmoke;
 margin-bottom: 2rem;
 margin-left: 1rem;
}

.continue {
  display: block;
  justify-content: center;
  text-align: left;
}

.continue h1{
  color: whitesmoke;
  margin-left: 6%;
  font-style: 'Roboto';
  font-weight: 900;
  font-size: 2.5em;
}

.developer {
  margin-left: 8%;
  width: 85.5%;
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
}

.movie {
  margin-left: 8%;
  width: 85.5%;
  height: 35rem;
  border-radius: 1rem;
  object-fit: cover;
}

.continue h2{
  margin-top: 6rem;
  color: whitesmoke;
  margin-left: 6%;
  font-style: 'Roboto';
  font-weight: 900;
  font-size: 2em;
}

.continue p{
  margin-left: 2rem;
  font-size: 1em;
  font-style: 'Roboto';
  color: gray;
  font-weight: bold;
 width: 80%;
 line-height: 2rem;
}

.bmo{
  color: #08f26e;
}

}