.App {
  text-align: left;
  width: 100%;
}

.App-logo {
  margin-top: 3rem;
  margin-left: 3rem;
  height: 20rem;
  width: 20rem;
  border-radius: 10rem;
  pointer-events: none;
  object-fit: cover;
}

.App-header {
  background-color: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container {
  background-color: #080808;
  width: 100%;
}

.nav {
  margin-left: 5rem;
  justify-content: space-between;
  display: flex;
  width: 90%;
  border: none;
}

.menu {
  display: none;
  width: 4rem;
  height: 4rem;
}

.logo {
  color: azure;
}

.basic-navbar {
  background-color: #080808;
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-top: 1rem;
}

.me-auto {
  justify-content: space-evenly;
}

.me-auto ul {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  text-decoration-style: none;
}

.me-auto ul li {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bolder;
  margin-left: 2rem;
  color: whitesmoke;
  height: 2rem;
  font-style: 'Roboto';
  width: 5rem;
  border-radius: 5px;
}

.me-auto ul li::after{
  background-color: yellow;
}

.me-auto ul li:hover {
  transition: 0.5s;
  background-color: #1c1c1c;
}

.me-auto li a {
  color: azure;
  text-decoration-style: none;
  text-decoration: none;
}

.text-holder {
  margin-left: 5rem;
  width: 35rem;
}

.text-holder h2 {
  font-size: 2.5em;
  font-style: 'Roboto';
}

.text-holder span {
  font-size: 3.5em;
  font-style: 'Roboto';
  font-weight: bolder;
}

.text-holder p {
  font-size: 1.2em;
  font-style: 'Roboto';
  color: gray;
  font-weight: bold;
  width: 80%;
  line-height: 1.6rem;
}

.vvd {
  background-color: #26abff;
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 1rem;
}

.vvd:hover{
  background-color: #0e87d3;
}
.resume:hover{
  background-color: #0f0f0f;
}

.resume {
  background-color: #1c1c1c;
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 2rem;
}

.vvd span{
  font-size: 1.1em;
  color: whitesmoke;
  font-style: 'Roboto';
  font-weight: bolder;
}
.resume span{
  font-size: 1.1em;
  color: whitesmoke;
  font-style: 'Roboto';
  font-weight: bolder;
}

.first-box {
  margin-top: 5rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.first-button {
  font-weight: bold;
  margin-top: 4rem;
  color: white;
  width: 6rem;
  height: 3rem;
  background-color: #26abff;
  border-radius: 5px;
  border: none;
}

.first-button:hover {
  background-color: #0e87d3;
}

.second-button {
  margin-left: 2rem;
  font-weight: bold;
  color: white;
  width: 6rem;
  height: 3rem;
  background-color: #1c1c1c;
  border-radius: 5px;
  border: none;
}

.second-button:hover {
  background-color: #0f0f0f;
}

.projects {
  width: 85%;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-bottom: 4rem;
}

.flexbar {
  display: flex;
  justify-content: space-between;
}

.holder:hover {
  transition: 1s;
  transform: scale(1.03);
  z-index: 2;
}

.holder {
  width: 35rem;
  height: 30rem;
}

.holder p {
  text-decoration: none;
  font-style: 'Roboto';
}

.project-image {
  object-fit: cover;
  width: 35rem;
  height: 24rem;
  border-radius: 10px;
}

.second-box {
  width: 100%;
}

.slider {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  width: 100%;
}

.slider::-webkit-scrollbar {
  width: 0%;
}

.card {
  margin-left: 2rem;
  height: 32.5rem;
  width: 20;
}

.card:hover {
  transition: 1s;
  transform: scale(1.03);
  z-index: 2;
}

.works {
  object-fit: cover;
  width: 18rem;
  height: 25rem;
  border-radius: 10px;
}

.border {
  margin-left: 6rem;
  width: 100%;
  background-color: whitesmoke;
  border: 1px solid;
}

.holding {
  width: 85%;
  justify-content: center;
  align-items: center;
}

.lastbox {
  width: 100%;
  margin-left: 6rem;
}

.linklayout {
  margin-left: 27rem;
}

.link1 {
  margin-top: 1rem;
  width: 45rem;
  height: 6rem;
  text-align: left;
  border-radius: 10px;
  border: none;
  background-color: #1c1c1c;
}

.link1 span {
  font-style: 'Roboto';
  margin-left: 1rem;
  font-size: 2em;
  font-weight: bolder;
  color: whitesmoke;
}

.link1 h3 {
  margin-left: 1rem;
  font-size: 1.3em;
  font-weight: bolder;
  color: #585757;
}

.name {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 7rem;
}

.lastbox h1 {
  font-style: 'Roboto';
  font-size: 2, 5em;
  font-weight: bolder;
}

.name span {
  font-size: 2em;
  font-weight: bolder;
  font-style: 'Roboto';
  margin-top: 8rem;
  margin-left: 22%;
  color: whitesmoke;
}

.footer {
  width: 100%;
  justify-content: center;
}

.footer-content {
  justify-content: center;
  align-items: center;
}

.line {
  border: 1px solid;
  border-color: #1c1c1c;
  margin-top: 1rem;
  width: 100%;
  margin-left: 6rem;
}

.about {
  margin-left: 55%;
  display: flex;
  justify-content: space-between;
  width: 8rem;
  color: #585757;
}

.copyright {
  width: 100%;
  display: flex;
  color: #585757;
  margin-left: 6rem;
  margin-bottom: 8rem;
  justify-content: space-between;
}

.socials{
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 9rem;
}

.media{
  margin-left: 0.6rem;
  padding: 0.7rem;
  width: 1rem;
  border-radius: 0.3rem;
  height: 1rem;
  background-color: #1c1c1c;
}

.media:hover {
  background-color: #141414;
}

@media screen and (max-width: 600px) {
  .App-header {
    background-color: #080808;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  .Container {
    display: flex;
    background-color: #080808;
    width: 100%;
  }

  .nav {
    display: flex;
    margin-left: 2rem;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }


  .logo {
    color: azure;
  }

  .basic-navbar {
    background-color: aquamarine;
    height: 8rem;
    display: none;
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .me-auto {
    justify-content: flex-start;
    display: flex;
  }

  .me-auto ul {
    position: fixed;
    display: block;
    text-decoration: none;
    justify-content: space-between;
    text-decoration-style: none;
  }

  .me-auto li {
    text-decoration-style: none;
    text-decoration: none;
    margin-left: 2rem;
    color: azure;
  }

  .me-auto li a {
    color: azure;
    text-decoration-style: none;
    text-decoration: none;
  }

  .text-holder {
    margin-left: 1rem;
    width: 100%;
  }

  .log {
    position: absolute;
    top: 34rem;
  }

  .text-holder h2 {
    font-size: 1.4em;
    margin-left: 1rem;
  }

  .text-holder span {
    font-size: 2.5em;
    margin-left: 1rem;
    font-weight: bolder;
  }

  .text-holder p {
    color: #585757;
    width: 100%;
    margin-left: 1rem
  }

  .menu {
    display: flex;
    width: 4rem;
    height: 4rem;
  }

  .vvd {
    background-color: #61dafb;
    height: 2.5rem;
    width: 6rem;
    border-radius: 0.5rem;
    border: none;
    margin-left: 1rem;
  }

  .first-box {
    display: block;
    margin-top: 2rem;
    display: flex;
  }

  .first-button {
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 1rem;
    color: white;
    width: 6rem;
    height: 3rem;
    background-color: #61dafb;
    border-radius: 5px;
    border: none;
  }

  .first-button:hover {
    background-color: #1ca3c9;
    transition: s;
  }

  .second-button {
    margin-left: 1rem;
    font-weight: bold;
    color: white;
    width: 6rem;
    height: 3rem;
    background-color: #1c1c1c;
    border-radius: 5px;
    border: none;
  }

  .second-button:hover {
    background-color: #0f0f0f;
  }

  .projects {
    width: 85%;
    margin-top: 30rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
  }

  .flexbar {
    display: block;
    justify-content: space-between;
  }

  .holder:hover {
    transition: 1s;
    transform: scale(1.03);
    z-index: 2;
  }

  .holder {
    width: 35rem;
    height: 30rem;
  }

  .holding {
    width: 85%;
    justify-content: center;
    align-items: center;
  }

  .project-image {
    object-fit: cover;
    width: 24rem;
    height: 24rem;
    border-radius: 10px;
  }

  .linklayout {
    margin-left: 0.5rem;
  }

  .card {
    margin-right: 1.1rem;
    height: 25rem;
    width: 15rem;
  }

  .card:hover {
    transition: 1s;
    transform: scale(1.03);
    z-index: 2;
  }

  .works {
    object-fit: cover;
    width: 16rem;
    height: 18rem;
    border-radius: 10px;
  }

  .border {
    margin-left: 1.9rem;
    width: 100%;
    border: 1px solid;
  }

  .lastbox {
    width: 100%;
    display: block;
    margin-left: 1rem;
  }

  .lastbox h1{
    margin-left: 1rem;
  }

  .link1 {
    margin-top: 1rem;
    width: 23rem;
    height: 6rem;
    text-align: left;
    border-radius: 10px;
    border: none;
    background-color: #1c1c1c;
  }

  .link1 h2 {
    margin-left: 1rem;
    font-size: 1.5em;
    font-weight: bolder;
    color: whitesmoke;
  }

  .link1 h3 {
    margin-left: 1rem;
    font-size: 1.3em;
    font-weight: bolder;
    color: #585757;
  }

  .name {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .name span{
    margin-top: 8rem;
    font-style: 'Roboto';
    font-size: 2em;
    font-weight: bolder;
  }

  .footer {
    width: 100%;
    margin-left: 0rem;
    justify-content: center;
  }

  .footer-content {
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  .line {
    border: 1px solid;
    border-color: #1c1c1c;
    margin-top: 1rem;
    margin-left: 1.5rem;
  }

  .about {
    margin-left: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    color: #585757;
  }

  .copyright {
    width: 100%;
    display: block;
    justify-content: center;
    text-align: center;
    color: #585757;
    margin-left: 10%;
  }

  .socials{
    margin-left: 28.5%;
  }

}